.game-board {
  font-family: "Rubik Iso";
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 5px;
}

.score-card {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: "Rubik Iso";
  white-space: pre;
  font-size: 3rem;
  line-height: 1.2em;
  height: 1.2em;
  overflow: hidden;
}
.loader:before {
  content: "Loading...\AgodnLai...\Aoiaglni...\ALiongad...\Agindola...\Analoidg...";
  white-space: pre;
  display: inline-block;
  animation: l38 1s infinite steps(6);
}

@keyframes l38 {
  100% {
    transform: translateY(-100%);
  }
}
