.loading,
.won {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.won {
  animation: bounce 1s ease-in-out 1;
}

.won > h2,
button {
  box-shadow: 0px 0px 4px #edf2f4;
  padding: 10px 20px 10px 20px;
  background-color: #edf2f499;
  border-radius: 16px;
  font-weight: bold;
  color: #353535;
  font-size: 3rem;
  font-family: "Rubik Iso";
}

button {
  transition: transform 0.2s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

@keyframes bounce {
  0% {
    transform: translateY(-500px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-80px);
  }
  70% {
    transform: translateY(0);
  }
  85% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
