.app {
  max-width: 900px;
}

.score-card,
.logo {
  font-family: "Rubik Iso";
  color: #353535;
  background-color: #edf2f499;
  box-shadow: 0px 0px 4px #edf2f4;
  border-radius: 16px;
  padding: 5px 20px 5px 20px;
  margin: 10px;
}

.logo {
  font-size: 3rem;
}
