* {
  margin: 0px;
  border: 0px;
  background: none;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background: center/cover no-repeat url("./assets/background.jpg");
  background-color: #00000099;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
}
